*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7f9;
    color:#333;
}

.header{
    background:#0f8b4c;
    color:#fff;
    text-align:center;
    padding:30px 20px;
}

.header h1{
    font-size:32px;
    margin-bottom:10px;
}

.header p{
    font-size:18px;
}

.home{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:70vh;
    padding:20px;
}

.card{
    background:#fff;
    width:100%;
    max-width:500px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    text-align:center;
  }
.card h2{
    font-size:28px;
    margin-bottom:15px;
    color:#0f8b4c;
}

.card p{
    font-size:17px;
    line-height:1.6;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#0f8b4c;
    color:#fff;
    text-decoration:none;
    padding:14px 35px;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#0b6d3b;
}

@media (max-width:600px){

.header h1{
    font-size:26px;
}

.header p{
    font-size:16px;
}

.card{
    padding:20px;
}

.card h2{
    font-size:24px;
}

.btn{
    width:100%;
}
}
.dashboard{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:20px;
}

.box{
    background:#ffffff;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.box h2{
    color:#0f8b4c;
    margin-bottom:15px;
    font-size:22px;
}

.box h3{
    font-size:28px;
    color:#333;
}
.form-section{
    max-width:700px;
    margin:30px auto;
    background:#ffffff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.form-section h2{
    text-align:center;
    color:#0f8b4c;
    margin-bottom:20px;
}

.form-section input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

#saveBtn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#0f8b4c;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

#saveBtn:hover{
    background:#0b6d3b;
}
.form-section select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    background:#fff;
}

#saveAttendance{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#0f8b4c;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

#saveAttendance:hover{
    background:#0b6d3b;
}
.report-box{
    background:#f4f7f9;
    margin-bottom:15px;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

.report-box h3{
    color:#0f8b4c;
    margin-bottom:10px;
}

.report-box p{
    font-size:24px;
    font-weight:bold;
}
